/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}





/* ??? On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
}

/* ---- SIDEBAR STYLING ---- */
/* GENERAL */
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
  margin-left: 250px;
}

/* OPEN AND CLOSE BUTTONS */
/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* PROFILE */
/* Profile Photo */
.profile {
  height: 60px;
  width: 60px;
  margin-left: 10px;
}

/* HEADERS */
.sidebar h2 {
  color: rgba(255, 255, 255, 0.918); 
  padding-left: 10px; 
}

.sidebar h3 {
  color: rgba(255, 255, 255, 0.644);
  padding-left: 10px; 
}

/* CONTACT, SOCIAL and LANGUAGE LINKS */
/* The sidebar links */
.sidebar a {
  text-decoration: none;
  color: #818181;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Link Boxes */
.sidebar .links {
  padding: 0px 30px;
}
.sidebar .links2 {
  padding: 0px 20px;
}
.sidebar .links3 {
  padding: 0px 38px;
}

/* Contact */
.sidebar .contact {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
}

/* Social */
.sidebar .social {
  font-size: 18px;
  padding: 0px 12px;
}

/*Languages*/
.sidebar .flag-icon {
  height: 18px;
  width: 18px;
}

/* --- MAIN PAGE STYLING --- */
#main p {
  text-align: justify;
}